# Server Port
PORT=5000
NODE_ENV=production

# MongoDB Connection String (MongoDB Atlas or self-hosted MongoDB)
# Example MongoDB Atlas URI:
# MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/skyronet_field_tracking?retryWrites=true&w=majority
MONGODB_URI=mongodb://127.0.0.1:27017/fieldtrack360

# JWT Secret Key
JWT_SECRET=skyronet_field_track_super_secret_jwt_key_2026
